.contacts {
  display: flex;
  border-top: 1px solid #74819c;
  min-height: 337px;
  max-width: 1366px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    border-top: none;
    min-height: 675px;
  }

  @media (max-width: $mobile-width) {
    min-height: 893px;
  }
}

.contacts__training_form-wrapper {
  min-width: 410px;
  width: 410px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    min-width: auto;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.contacts__training {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  background-color: #102654;
  min-height: 337px;

  @media (max-width: $tablet-width) {
    flex-basis: auto;
    padding-left: 133px;
    padding-right: 163px;
    min-height: 324px;
  }

  @media (max-width: $mobile-width) {
    flex-basis: auto;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 386px;
  }
}

.contacts__training_title {
  font-family: $textBebasCyrillic;
  font-size: 49px;
  line-height: 64px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-top: 58px;
  padding-bottom: 35px;
  margin-left: -34px;

  @media (max-width: $tablet-width) {
    font-size: 42px;
    line-height: 42px;
    padding-top: 66px;
    padding-bottom: 38px;
    margin-left: 0;
  }

  @media (max-width: $mobile-width) {
    font-size: 32px;
    line-height: 32px;
    padding-top: 67px;
  }
}

.contacts__training_form {
  margin-left: -34px;

  @media (max-width: $tablet-width) {
    margin-left: 0;
  }
}

.contacts__training_wrapper {
  display: flex;

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.contacts__training_form-item input {
  font-family: $textRoboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  max-width: 190px;
  width: 100%;
  background-color: #102654;
  border: none;
  border-radius: 0;
  outline: none;
  border-bottom: 1px solid #74819c;

  @media (max-width: $tablet-width) {
    min-width: 206px;
    width: 100%;
    padding-bottom: 5px;
  }

  @media (max-width: $mobile-width) {
    min-width: 100%;
    padding-bottom: 7px;
  }
}

.contacts__training_form-item {
  max-width: 190px;
  width: 100%;

  @media (max-width: $tablet-width) {
    min-width: 206px;
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    min-width: 100%;
  }

  &:nth-child(1) {
    margin-right: 30px;

    @media (max-width: $tablet-width) {
      margin-right: 60px;
    }

    @media (max-width: $mobile-width) {
      margin-right: 0;
      margin-bottom: 32px;
    }
  }
}

.contacts__training_form-item input::placeholder {
  font-family: $textRoboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.contacts__training_button {
  font-family: $textRoboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  border: 3px solid #ffffff;
  max-width: 410px;
  width: 100%;
  min-height: 52px;
  padding: 10px 5px;
  margin-top: 35px;

  @media (max-width: $tablet-width) {
    min-width: 472px;
    width: 100%;
    margin-top: 30px;
  }

  @media (max-width: $mobile-width) {
    min-width: 100%;
    margin-top: 39px;
  }

  &:hover {
    opacity: 0.5;
  }
}

.contacts__info_form-wrapper {
  min-width: 404px;
  width: 404px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $tablet-width) {
    min-width: auto;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.contacts__info {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  min-height: 337px;

  @media (max-width: $tablet-width) {
    flex-basis: auto;
    padding-left: 133px;
    padding-right: 171px;
    min-height: 351px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 507px;
  }
}

.contacts__info_title {
  font-family: $textBebasCyrillic;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  color: #102654;
  padding-top: 66px;
  padding-bottom: 43px;
  margin-left: -20px;

  @media (max-width: $tablet-width) {
    font-size: 42px;
    line-height: 42px;
    padding-top: 66px;
    padding-bottom: 36px;
    margin-left: 0;
  }

  @media (max-width: $mobile-width) {
    font-size: 32px;
    line-height: 32px;
    padding-top: 67px;
  }
}

.contacts__info_schedule-address h3,
.contacts__info_communication h3 {
  font-family: $textRoboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  color: #102654;
  padding-bottom: 3px;

  @media (max-width: $tablet-width) {
    font-size: 20px;
    line-height: 150%;
    /* or 30px */
    padding-bottom: 6px;
  }
}

.contacts__info_schedule-address p,
.contacts__info_communication p,
.contacts__info_schedule-address a,
.contacts__info_communication a {
  font-family: $textRoboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #102654;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 152.34%;
    /* or 27px */
  }
}

.contacts__info_schedule-address a,
.contacts__info_communication a {
  &:hover {
    opacity: 0.5;
  }
}

.contacts__info_wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 415px;
  padding-right: 15px;
  margin-left: -20px;

  @media (max-width: $tablet-width) {
    max-width: 100%;
    padding-right: 10px;
    margin-left: 0;
  }

  @media (max-width: $mobile-width) {
    padding-right: 0;
    flex-direction: column;
  }
}

.contacts__info_schedule-address {
  list-style: none;
  padding-left: 3px;
  border-right: 1px solid #74819c;
  flex-basis: 70%;
  padding-right: 5px;

  @media (max-width: $tablet-width) {
    flex-basis: 65%;
    padding-right: 0;
  }

  @media (max-width: $mobile-width) {
    flex-basis: auto;
    border: none;
    margin-bottom: 20px;
  }
}

.contacts__info_schedule-address li,
.contacts__info_communication li {
  padding-bottom: 18px;

  &:nth-child(2) {
    padding-bottom: 0;
  }
}

.contacts__info_schedule-address li {
  &:nth-child(1) {
    padding-bottom: 20px;
  }
}

.contacts__info_communication {
  list-style: none;
  flex-basis: 30%;
  padding-left: 60px;

  @media (max-width: $tablet-width) {
    flex-basis: 35%;
    padding-left: 48px;
  }

  @media (max-width: $mobile-width) {
    flex-basis: auto;
    padding-left: 0;
  }
}
