.footer {
  flex-shrink: 0;
  background: #030a1a;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1366px;
  min-height: 108px;
  padding-left: 103px;
  padding-right: 103px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    min-height: 114px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 44px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    min-height: 260px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 48px;
  }
}

.footer__logo {
  font-family: $textBebas;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #ffffff;
  width: 89px;
  margin-right: 70px;

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
    margin-right: 63px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.footer__logo_mod {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
    font-family: $textBebas;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 0;
    margin-right: 0;
  }
}

.footer__navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  max-width: 480px;
  width: 100%;
  padding-top: 7px;

  @media (max-width: $tablet-width) {
    padding-top: 5px;
  }

  @media (max-width: $mobile-width) {
    max-width: 290px;
    padding-top: 0;
  }
}

.footer__navigation_item {
  font-family: $textRoboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin-right: 42px;
  margin-bottom: 10px;

  &:first-child {
    display: none;

    @media (max-width: $mobile-width) {
      display: block;
    }
  }

  @media (max-width: $tablet-width) {
    margin-right: 33px;
  }

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 19px;
    width: 95px;
    padding-top: 0;
    margin-right: 0;
    margin-bottom: 20px;

    &:first-child {
      margin-top: 0;
    }

    &:nth-child(odd) {
      margin-right: 66px;
    }
  }
}

.footer__navigation .footer__navigation_services {
  @media (max-width: $mobile-width) {
    order: 2;
    margin-right: 66px;
  }
}

.footer__navigation_subscription {
  @media (max-width: $mobile-width) {
    order: 4;
  }
}

.footer__navigation_stocks {
  @media (max-width: $mobile-width) {
    order: 1;
  }
}

.footer__navigation .footer__navigation_trainers {
  @media (max-width: $mobile-width) {
    order: 3;
    margin-right: 0;
  }
}

.footer__navigation_schedule {
  @media (max-width: $mobile-width) {
    order: 5;
  }
}

.footer__navigation_item a,
.footer__social_item-button {
  &:hover {
    opacity: 0.5;
  }
}

.footer__social {
  display: flex;
  justify-content: space-between;
  list-style: none;
  max-width: 110px;
  width: 100%;

  @media (max-width: $tablet-width) {
    margin-top: 0;
    max-width: 100px;
  }

  @media (max-width: $mobile-width) {
    max-width: 151px;
    height: 37px;
    margin-right: auto;
    align-content: center;
    padding-left: 3px;
    justify-content: start;
  }
}

.footer__social_item {
  @media (max-width: $mobile-width) {
    margin-right: 33px;
  }
}

.button_vkonakte svg {
  @media (max-width: $mobile-width) {
    min-width: 32px;
    min-height: 27px;
  }
}

.button_insta svg {
  @media (max-width: $mobile-width) {
    min-width: 27px;
    min-height: 27px;
  }
}

.button_facebook svg {
  @media (max-width: $mobile-width) {
    min-width: 14px;
    min-height: 27px;
  }
}
