$mobile-width: 767px;
$tablet-width: 1199px;

$textBebasCyrillic: "BebasNeueCyrillic", arial, sans-serif;
$textBebas: "Bebas Neue", arial, sans-serif;
$textRoboto: "Roboto Condensed", arial, sans-serif;
